img {
    display: block;
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 0%;
}

header {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

img:hover {
    opacity: .9;
}

.spin {
  animation: rotate .2s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.store {
  display: inline-block;
  max-width: 60px;
  height: auto;
  margin: auto;
  padding: 10px;
}